/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display:flex;
   


}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
    gap: 20px;
    margin-bottom: 20px;
   
   
}


.exerciseHeaderNav {
    width: 100%;

}

.exerciseHeaderNav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    width: 100%; 
   
}

.exerciseHeaderNav ul li {
    min-width: 20% ;


}


.exerciseMainContent {
    

   

}


.exerciseAdditionalFeatures {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    width: 100%;

}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
    width: 50%;
    
    

   


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {
    gap:10px;
  
   

}